
.toxler {
    position: relative;
    height:5px;
    width:5px;
    padding: 25%;
    margin: auto;
    top: 5%;
}

.toxler .fixPoint {
    position: absolute;
    margin: auto ;
    height: 5px;
    width: 5px;
    border-radius: 250px;
    background: black;
    content: "";
}

.toxler .circle {
	position: absolute;
	margin: auto;
    border-radius: 250px;
    display: block;
    overflow: hidden;
    margin: -15px;
}

h1,h2,h3 {text-align:center;font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;white-space: nowrap;}

a{text-decoration: none;white-space: nowrap;}


.button{
	font-weight: bold;
	margin-top: 5px;
	height: 30px;
	width: 250px;
	color: #3b3b3b;
	background: #69B8F0;
	border: 1px solid #5a5a5a;
	border-top-color: #5a5a5a;
	white-space: nowrap;
}

.time-label{
	margin-top: 70px;
	height: 60px;
	width: 250px;
	color: #3b3b3b;
	background: #B6DAF4;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30px;
	border: 1px solid;
	border-top-color: #5a5a5a;
	white-space: nowrap;
}

.align{
	margin-left: 10%;
	max-width: 230px;
}

.parameters{
	width: 100%;
	max-width: 280px;
    text-align: right;
	margin-left: 5px;
	margin-top: 30px;
	color: #3b3b3b;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
	
}

.parameters label{
	float: left;
    margin: 1px;
    white-space: nowrap;
}

.parameters select{
	padding-left: 5px;
	width: 80px;
	color: #3b3b3b;
	background: #B6DAF4;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	white-space: nowrap;
}

.form-submit {
	font-weight: bold;
	display: block;
	margin-top: 10px;
	height: 30px;
	width: 250px;
	color: #3b3b3b;
	background: #69B8F0;
	border: 1px solid #5a5a5a;
	border-top-color: #5a5a5a;
	white-space: nowrap;
}

.test-label{
	font-weight: bold;
	margin-top: 5px;
	height: 30px;
	width: 250px;
	line-height: 30px;
	color: #3b3b3b;
	background: #B6DAF4;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30px;
	border: 1px solid #5a5a5a;
	border-top-color: #5a5a5a;
	white-space: nowrap;
}

.test-label label {
	font-size: 50%;
	color: black;
	white-space: nowrap;
}

.test-label label:hover{
	font-size: 50%;
	color: black;
	cursor: pointer;
}

.menu{
	font-weight: bold;
	margin-top: 15px;
	font-size:50%;
	height: 40px;
	width: 250px;
	color: #3b3b3b;
	background: #69B8F0;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30px;
	border: 1px solid #5a5a5a;
	border-top-color: #5a5a5a;
	white-space: nowrap;
}

.btn{
	display: inline-block;
	cursor: pointer;
	margin-top: 70px;
	white-space: nowrap;
}


.instructions{
	padding-left: 5%;
	/*display: none;*/
}
