.toxler {
    position: relative;
    height:5px;
    width:5px;
    padding: 25%;
    margin: auto;
    top: 5%;
}

.toxler .fixPoint {
    position: absolute;
    margin: auto ;
    height: 5px;
    width: 5px;
    border-radius: 250px;
    background: black;
    content: "";
}

.toxler .circle {
	position: absolute;
	margin: auto;
    border-radius: 250px;
    display: block;
    overflow: hidden;
    margin: -15px;
}

h1,h2,h3 {text-align:center;font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;}

a{text-decoration: none;}

.button{
	font-weight: bold;
	display: block;
	margin-left: 15%;
	margin-top: 5px;
	height: 30px;
	color: #3b3b3b;
	background: #69B8F0;
	border: 1px solid #5a5a5a;
	border-top-color: #5a5a5a;
	width: 60%;
}

.time-label{
	margin-top: 100px;
	width: 100%;
	height: 60px;
	color: #3b3b3b;
	background: #B6DAF4;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30px;
	border: 2px solid #5a5a5a;
	border-top-color: #5a5a5a;
}

.parameters{
	width: 100%;
    text-align: right;
	margin-left: 5px;
	margin-top: 30px;
	color: #3b3b3b;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	font-weight: bold;
	
}

.parameters label{
	float: left;
    margin: 1px;
}

.parameters select{
	padding-left: 5px;
	width: 80px;
	color: #3b3b3b;
	background: #B6DAF4;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-submit {
	font-weight: bold;
	display: block;
	margin-left: 15%;
	margin-top: 10px;
	height: 30px;
	color: #3b3b3b;
	background: #69B8F0;
	border: 1px solid #5a5a5a;
	border-top-color: #5a5a5a;
	width: 65%;
}

.test-label{
	font-weight: bold;
	margin-top: 5px;
	margin-left: auto;
	width: 277px;
	height: 30px;
	color: #3b3b3b;
	background: #B6DAF4;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30px;
	border: 2px solid #5a5a5a;
	border-top-color: #5a5a5a;
}

.test-label label {
	font-size: 50%;
	color: black;
}

.test-label label:hover{
	font-size: 50%;
	color: black;
	cursor: pointer;
}

.menu{
	font-weight: bold;
	margin-top: 15px;
	margin-left: auto;
	font-size:50%;
	width: 277px;
	height: 40px;
	color: #3b3b3b;
	background: #69B8F0;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30px;
	border: 1px solid #5a5a5a;
	border-top-color: #5a5a5a;
}

